html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	vertical-align: baseline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.splash_main {
  background-color: #BB6B3D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title_splash{
  color: #ffffff;
}

.page_header_wrapper{
  background-color: #fad1f3;
  width: 100%;
  height: auto;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title{
  color: #000000;
  padding: 0;
  margin: 0;
}

.title_info{
  color: #000000;
  text-align: left;

  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: #000000;
  /* line-height:4rem; */
  /* font-family: 'Roboto Condensed', sans-serif; */
}


.page_body_wrapper{
  display: flex;
  flex-direction: row;
  background-color: #d1e3fa;
  width: 80%;
  height: auto;
}

.active_info_wrapper{
  background-color: #d2fad1;
  order: 1;
  padding:3em;
  width: 50%;
}

.donation_toggle_wrapper {
   display: flex;
   flex-direction: row;
   margin-top:1.5em;
   width:80%;
   height: 8em;
   background-color: #ffffff;
   /* border: 0.05em solid #BB6B3D; */
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 25px;
}

/* ------ Asylum list wrapper ----- */
.asylum_list_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:3em;
  width:80%;
  height: auto;
  background-color: #ffffff;
}

.asylum_list_about{
  order: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #2F2F2F;
}

.asylum_list_info{
  flex-grow: 4; 
  order: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #818181;
}

.asylum_list_picker_wrapper{
  margin-top: 0.5em;
  order: 2;
  width: 100%;
  height: 3em;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 0.5em;
  padding-left: 1em;
  cursor: pointer;
} 
.asylum_list_picker_title{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}

.asylum_list_picker_subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #9F9F9F;
  text-align: left;
}
.hideElement{
  display: none;
}
/* ------ Asylum list wrapper END ----- */
.shelter_list_wrapper{
   position:absolute;
   width: 30%;
   height: 6em;
   background: #FFFFFF;
   border: 1px solid #DFDFDF;
   box-sizing: border-box;
   border-radius: 8px;
   margin-top: 2.5em;

   -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.38); 
   box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.38);
}

.shelter_item {
  text-align: left;
  list-style-type: none;
  padding-top: 0.1em;
  padding-left: 0.5em;
}

 li:hover {
  background: #eeeeee;
  cursor: pointer;
}

.shelter_item_row{
  font-size: medium;
  color: #8d8d8d;
}

/* ------ Option donate wrapper ----- */
.option_donate_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:1.5em;
  width:80%;
  height: auto;
  background-color: #ffffff;
}

.option_donate_title{
  order: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #2F2F2F;
}

.option_donate_money_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5em;
  order: 2;
  width: 100%;
  height: 3em;
  background: #FFFFFF;
  box-sizing: border-box;
  padding-top: 0.5em;
  padding-left: 1em;
}

.option_donate_money_box {
  margin-right: 0.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;

  width: 2.5em;
  height: 53px;
  left: 251px;
  top: 719px;

  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.option_donate_money_box_active {
  margin-right: 0.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 2.5em;
  height: 53px;
  left: 251px;
  top: 719px;

  background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.option_donate_money_box_value{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #2F2F2F;
}
.option_donate_money_box_value_active{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.money_picker{
  position:absolute;
  width: 15%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 8px;
  /* margin-top: 1.5em; */
  padding: 0.3em;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.18); 
  box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.18);
}

.money_picker_title{
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #2F2F2F;
}
.money_picker_value{
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 19px;
  color: #afafaf;
}
.money_picker_input{
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 8px;
  width: 60%;
  height: 2.5em;
}
/* ------ Option donate wrapper END ----- */

/* ------ Form wrapper  ----- */
.form_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:1em;
  width:100%;
  height: auto;
  background-color: #ffffff;
}

.form_wrapper_child{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  height: auto;
  background-color: #ffffff;
}

.form_input_wrapper{
  margin-top: 0.5em;
  order: 2;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
.info_title{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}
.form_title{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}

.form_subtitle{
  margin-top: 0.5em;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}
.check_info_wrapper{
  margin-top: 0.5em;
  order: 2;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  padding-bottom: 0.5em;
}
.checkbox_input_wrapper{
  display: flex;
  flex-direction: row;
  order: 2;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.check_info_title{
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}
.check_info_subtitle{
  margin-top: 0.35em;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}
.check_form_title{
  order: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}
.check_form_subtitle{
  order: 1;
  margin-top: 0.35em;
  margin-left: 0.3em;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #2F2F2F;
  text-align: left;
}
.checkbox_edit{
  width: 2em;
  height: 2em;

}
.form_edit{
  width: 80%;
  float: left;
}

.form_error {
  position: absolute;
  margin-top:1.8em;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  text-align: left;
  color: red;
}

input[type=text], input[type=email], input[type=tel]{
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  border:0;
}

input, textarea {
  font-family:inherit;
  font-size: 0.8rem;
}


/* ------ Form wrapper END ----- */

/* ------ Active info Action ----- */
.active_info_action_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:1.5em;
  width:80%;
  height: auto;
  background-color: #ffffff;
}

.button_info_normal{
  flex-grow: 0;
  align-items: center;
  padding: 20px 24px;

  width: 81px;
  height: 59px;
  right: 1109px;
  top: 764px;
  background: #F3E2D9;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.empty_space{
  flex-grow: 1;
}
.button_info_active{
  flex-grow: 0;
  padding: 20px 24px;
  color: #FFFFFF;

  width: 124px;
  height: 59px;
  left: 682px;
  top: 844px;
  
  background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 100px;
  border: none;
  cursor: pointer;

  justify-content:right;
}

/* ------ Active info Action END ----- */

/* ------- Donate Toggle ----------*/
.donation_toggle_normal {
  width: 50%;
  height: 8em;
  order: 1;
  background: #FAF9F9;
  border: 1px solid #CD8B65;
  box-sizing: border-box;
  border-radius: 24px 0px 0px 24px;
  cursor: pointer;
  padding: 1.2em;
}

.donation_toggle_active {
  background: linear-gradient(180deg, #CD8B65 0%, #BB6B3D 100%);
  width: 50%;
  height: 8em;
  order: 1;
  border-radius: 0px 24px 24px 0px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 1.2em;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.donation_toggle_normal_left {
  width: 50%;
  height: 8em;
  order: 1;
  background: #FAF9F9;
  border: 1px solid #CD8B65;
  box-sizing: border-box;
  border-radius: 0px 24px 24px 0px;
  cursor: pointer;
  padding: 1.2em;
}

.donation_toggle_active_left {
  background: linear-gradient(180deg, #CD8B65 0%, #BB6B3D 100%);
  width: 50%;
  height: 8em;
  order: 1;
  border-radius: 24px 0px 0px 24px;
  box-sizing: border-box;
  padding: 1.2em;
  cursor: pointer;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.logo_help_donate{
  width: 3em;
  height: 3em;
  display: block;
  /* background-image: url(../src/assets/images/pawn_selected.svg); */
  background-size: contain;
  background-size: 3em 3em;
}
.small_black{
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 19px;
  color: #2F2F2F;
}
.donate_wallet_default {
  background-image: url(../src/assets/images/wallet_default.svg);
}
.donate_wallet_selected {
  background-image: url(../src/assets/images/wallet_selected.svg);
}

.donate_pawn_default {
  background-image: url(../src/assets/images/pawn_default.svg);
}
.donate_pawn_selected {
  background-image: url(../src/assets/images/pawn_selected.svg);
}

.title_left{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #585757;
  text-align: left;
  margin-top:1.5em;
}

/* .logo_right{
  width: 3em;
  height: 3em;
  display: block;
  background-image: url(../src/assets/images/pawn_selected.svg);
  background-size: contain;
  background-size: 3em 3em;
} */
.title_right{
  margin-top:1.5em;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
}

/* ------- Donate Toggle END ----------*/
.button_submit{
  width: 10em;
  height: 5em;
}

.right_section_wrapper{
  background-color: #faf0d1;
  order: 2;
  padding-top:2em;
  width: 40%;
}

.page_footer_wrapper{
  background-color: #d8d6d8;
  width: 100%;
  height: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
